$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: desaturate(darken($dark-gray, 12), 30);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;
$sliding-menu-width: 20%;


.menu-circle {
  width: 55px;
  height: 110px;
  border-radius: 0 110px 110px 0;
  -moz-border-radius: 0 110px 110px 0;
  -webkit-border-radius: 0 110px 110px 0;
  background: desaturate(darken($dark-gray, 20), 30);
  position: fixed;
  top: 45.5%;
}

.sliding-menu-button {
  @include row();
  @include omega();
  color: white;
  background-color: darken($dark-gray, 20);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='$dark-gray',GradientType=0 );
  opacity: 0.9;
  padding: 17px;
  display: block;
  position: fixed;
  outline: medium none;
  top: 50%;
  left: 0px;
  color: white;
  padding-left: .05 em;
  z-index: 1;
  

  img {
    height: 1.3em;
  }
}

.sliding-menu-content {
  @include position(fixed, 60px auto 0px 0px);
  @include size(250px 100%);
  @include transform(translateX(-250px));
  @include transition(all .25s linear);
  background: $sliding-menu-background;
  z-index: 1;

  overflow-y: none;
  -webkit-overflow-scrolling: touch;

  li a {
    
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;
  
    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}

// Based on code by Diego Eis
