html, body
	width: 100%
	height: 100%
	margin: 0px
	padding: 0px

article
	+outer-container
	//+row	
	//+span-columns(12)
	+fill-parent()
	//+shift(2)
	margin-bottom: 2em
	padding: 1em

	header.page-title
		margin-top: 5.5em

	h1 
		font-family: $serif
		//font-size: 1.6em
		font-weight: 400
		margin-bottom: .6em
		border-bottom: 3px solid lighten($dark-gray, 5)

		+media($medium-screen) 
		font-size: 2.4em
	 
	h2 
		font-family: $sans-serif
		//font-size: 1.1em
		font-weight: 400
		line-height: 1.5em
		margin-bottom: 1.2em

		@include media($medium-screen) 
		font-size: 1.3em
	  
	code 
		white-space: nowrap
		background: #F7F7F7
		border: 1px solid #E0E0E0
		border-radius: $base-border-radius * 1.5
		padding: .1em .4em
		font-size: .8em
		font-style: normal

	h3 
		font-family: $serif
		font-size: 1em
		font-weight: 600
		text-transform: uppercase
		line-height: 1.4em
		margin-bottom: .5em  

	p.date 
		color: transparentize($base-font-color, .2)
		font-family: $sans-serif
		font-size: .7em
		padding: .1em 0
		text-align: left
		text-transform: uppercase

		a
			display: inline-block

	p 
		font-family: $serif
		font-weight: 300
		letter-spacing: 1
		margin-bottom: 1.5em

	span 
		font-family: $sans-serif
		font-weight: 600
		font-size: .8em
		text-transform: uppercase

	a.read-more 
		display: inline-block
		font-family: $serif
		font-weight: 700
		font-size: .8em
		text-transform: uppercase
		margin-left: .2em
		position: relative

	hr
		width: 3em
	  
	p.author 
		font-family: $serif

.nav-link 
	font-family: $sans-serif

.faq
	+outer-container

.current
	border-bottom: 3px solid  #258dc8

.type 
	border-bottom: 1px solid
	display: inline-block
	font-family: $sans-serif
	font-size: .7em
	font-weight: 600
	margin-bottom: 2em
	padding: .1em 0
	text-align: left
	text-transform: uppercase

.type-no-underline 
	font-family: $sans-serif
	font-size: .7em
	font-weight: 600
	margin-bottom: 2em
	padding: .1em 0
	text-align: left
	text-transform: uppercase

.entry-title
	margin-top: 1em

.ai1ec-calendar-toolbar .dropdown:hover > .dropdown-menu
	display: block

.panel
	//background-color: lighten($dark-gray, 75)
	background-color: #D1E6E7
	color: $dark-gray
	@include box-sizing(border-box)
	padding: .4em
	border: 1px dotted #93A8A9
	margin-left: 2em
	margin-right: 2em
	margin-bottom: 4em
 

.table.ai1ec-calendar-toolbar
	display: none

.entry-title
	display: none !important

div.ss-form-entry > input
	width: 80% !important

div.ss-form-entry > textarea
	width: 80% !important

+media($small-screen)
	#off-canvas-link
		display: none
+media($medium-screen-up)
	#off-canvas-link
		display: inline
footer
	+span-columns(12)
	+omega